@model AdministratorClientMVC.ViewModels.Student.StudentIndexViewModel
@{
    ViewData["Title"] = "Studenter";
}
@section styles {
    <link rel="stylesheet" href="~/css/index-page.css">
}

<div class="container">
    <div class="text-center header-style container-header">
        <a asp-controller="Student" asp-action="AddStudent" class="btn">Lägg till student</a>
        <h1>@ViewData["Title"]</h1>
        <form method="post" class="search-container">
            <select class="header-searchbar" type="text" name="input" id="input">
                <option value="inget" disabled selected>Filtrera på kursnummer</option> @*Submit reagerar inte på detta alternativ genom Javascript*@
                <option value="alla">Alla kurser</option>
                @foreach (var course in Model!.Courses)
                {
                    <option value="@course.CourseNumber">@course.CourseNumber</option> 
                }
            </select>
                <button class="submit-button" asp-action="Index" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <table class="Table-style">
        <tr class="th-style">
            <th>StudentId</th>
            <th>Förnamn</th>
            <th>Efternamn</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Uppdatera</th>
            <th>Info</th>
            <th>Ta bort</th>
        </tr>
        @foreach (var student in Model!.Students)
        {
            <tr class="white-background">
                <th>@student.StudentId</th>
                <th>@student.FirstName</th>
                <th>@student.LastName</th>
                <th>@student.Email</th>
                <th>@student.PhoneNumber</th>
                <th><a asp-controller="Student" asp-action="Update" asp-route-id="@student.StudentId"><i class="fa-solid fa-pen"></i></a></th>
                <th><a asp-controller="Student" asp-action="Details" asp-route-id="@student.StudentId"><i class="fa-solid fa-info"></i></a></th>
                <th>
                    <form method="post" asp-action="Delete" class="delete-form">
                        <input hidden asp-for="@student.StudentId" name="id" />
                        <button type="submit" asp-action="Delete"><i class="fa-solid fa-trash-can"></i></button>
                    </form>
                </th>
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="~/js/index.js"></script>
}
