@model AdministratorClientMVC.ViewModels.Teacher.TeacherViewModel
@{
    ViewData["Title"] = "Detaljer";
}

@section styles {
    <link rel="stylesheet" href="~/css/details-page.css">
}

<div class="container-small">
    <div class="text-center header-style">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        <table class="Table-style">
            <tr>
                <th><label asp-for="TeacherId"></label></th>
                <th><input asp-for="TeacherId" type="text" value="@Model!.TeacherId"disabled></th>
            </tr>
            <tr>
                <th><label asp-for="FirstName"></label></th>
                <th><input asp-for="FirstName" type="text" value="@Model.FirstName"disabled></th>     
            </tr>
            <tr>
                <th><label asp-for="LastName"></label></th>
                <th><input asp-for="LastName" type="text" value="@Model.LastName"disabled></th>
            </tr>
            <tr>
                <th><label asp-for="Email"></label></th>
                <th><input asp-for="Email" type="text" value="@Model.Email"disabled></th>
            </tr>
            <tr>
                <th><label asp-for="PhoneNumber"></label></th>
                <th><input asp-for="PhoneNumber" type="text" value="@Model.PhoneNumber"disabled></th>
            </tr>
            <tr>
                <th><label asp-for="StreetName"></label></th>
                <th><input asp-for="StreetName" type="text" value="@Model.StreetName"disabled></th>
            </tr>
            <tr>
                <th><label asp-for="StreetNumber"></label></th>
                <th><input asp-for="StreetNumber" type="text" value="@Model.StreetNumber"disabled></th>
            </tr>
            <tr>
                <th><label asp-for="Zipcode"></label></th>
                <th><input asp-for="Zipcode" type="text" value="@Model.Zipcode"disabled></th>
            </tr>
            <tr>
                <th class="th-btn"><a class="btn" asp-controller="Teacher" asp-action="Index">Återgå</a></th>
                <th></th>
            </tr>
        </table>
        
    </div>
</div>
